<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.flights.mapper.CompanyMapper" >

  <select id="selectByPrimaryKey" resultType="pers.flights.model.Company" >
    select `id` ,`companyCode` ,`information` ,`companyName` ,`mobilePhone` ,`companyPhone` ,`companyUrl` ,`createTime`  from company where  `id` = #{id}
  </select>
  
  <select id="search" resultType="pers.flights.model.Company">
    select `id` ,`companyCode` ,`information` ,`companyName` ,`mobilePhone` ,`companyPhone` ,`companyUrl` ,`createTime`  from company
  </select>
  
  <insert id="insert" parameterType="pers.flights.model.Company" useGeneratedKeys="true" >
    insert into company (`companyCode` ,`information` ,`companyName` ,`mobilePhone` ,`companyPhone` ,`companyUrl` ,`createTime` ) values (#{companyCode},#{information},#{companyName},#{mobilePhone},#{companyPhone},#{companyUrl},#{createTime})
  </insert>
  
  <delete id="deleteByPrimaryKey">
    delete from company where  `id` = #{id}
  </delete>
  
  <update id="updateByPrimaryKey" parameterType="pers.flights.model.Company" >
    update company set `companyCode` = #{companyCode},`information` = #{information},`companyName` = #{companyName},`mobilePhone` = #{mobilePhone},`companyPhone` = #{companyPhone},`companyUrl` = #{companyUrl},`createTime` = #{createTime} where  `id` = #{id}
  </update>
  
</mapper>