<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.flights.mapper.OrderMapper" >

  <select id="selectByPrimaryKey" resultType="pers.flights.model.Order" >
    select `id` ,`orderNo` ,`flightId` ,`ticketPriceId` ,`orderTime` ,`person` ,`phone` ,`orderStatus` ,`customerId` ,`createTime`   from `order` where   `id` = #{id}
  </select>
  
  <select id="searchByAttributes" resultType="pers.flights.model.Order" statementType="STATEMENT">
    select `id` ,`orderNo` ,`flightId` ,`ticketPriceId` ,`orderTime` ,`person` ,`phone` ,`orderStatus` ,`customerId` ,`createTime`  from `order` where
    <foreach item="attribute" collection="list" separator="and">
    	 ${attribute.name} = ${attribute.value}
    </foreach> 
  </select>
  
  <select id="searchByKeywords" resultType="pers.flights.model.Order" statementType="STATEMENT">
    select `id` ,`orderNo` ,`flightId` ,`ticketPriceId` ,`orderTime` ,`person` ,`phone` ,`orderStatus` ,`customerId` ,`createTime`  from `order` where
    <foreach item="keyword" collection="list" separator="or">
  		   `id`  like '%${keyword}%' 
  		or `orderNo`  like '%${keyword}%' 
  		or `flightId`  like '%${keyword}%' 
  		or `ticketPriceId`  like '%${keyword}%' 
  		or `orderTime`  like '%${keyword}%' 
  		or `person`  like '%${keyword}%' 
  		or `phone`  like '%${keyword}%' 
  		or `orderStatus`  like '%${keyword}%' 
  		or `customerId`  like '%${keyword}%' 
  		or `createTime`  like '%${keyword}%' 
    </foreach> 
  </select>
  
  <select id="search" resultType="pers.flights.model.Order">
    select `id` ,`orderNo` ,`flightId` ,`ticketPriceId` ,`orderTime` ,`person` ,`phone` ,`orderStatus` ,`customerId` ,`createTime`   from `order` limit #{offset},#{limit}	
  </select>
  
  <insert id="insert" parameterType="pers.flights.model.Order" useGeneratedKeys="true"  keyProperty="id">
    insert into `order` (`orderNo` ,`flightId` ,`ticketPriceId` ,`orderTime` ,`person` ,`phone` ,`orderStatus` ,`customerId` ,`createTime` ) values (#{orderNo},#{flightId},#{ticketPriceId},#{orderTime},#{person},#{phone},#{orderStatus},#{customerId},#{createTime})
  </insert>
  
  <delete id="deleteByPrimaryKey">
    delete from `order` where   `id` = #{id}
  </delete>
  
  <select id="getTotal" resultType="long">
  	select count(`id`) from `order`;
  </select>
  
  <update id="updateByPrimaryKey" parameterType="pers.flights.model.Order" >
    update `order` set `orderNo` = #{orderNo},`flightId` = #{flightId},`ticketPriceId` = #{ticketPriceId},`orderTime` = #{orderTime},`person` = #{person},`phone` = #{phone},`orderStatus` = #{orderStatus},`customerId` = #{customerId},`createTime` = #{createTime} where   `id` = #{id}
  </update>
  
  <select id="selectDetailById" resultType="map">
  	select * from order_detail where id = #{id};
  </select>
  
  <select id="searchDetailByCustomer" resultType="map">
  	select * from order_detail where customerid = #{customerid};
  </select>
  
</mapper>